# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static

# Search
.coverage
.husky
node_modules
.env
.npmrc
codecov
lerna-debug.log
npm-debug.log
package-lock.json

# Microsite Core
packages/core/package-lock.json
packages/core/build
packages/core/node_modules

# Microsite Docs
packages/docs/src/asset/*
packages/docs/package-lock.json
packages/docs/build
packages/docs/node_modules
